<!DOCTYPE html>
<html>
<head>
    <title>Search </title>
    <link rel="stylesheet" href="app/css/style.css">
    <script src="app/angular.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/service/customservice.js"></script>
    <script src="app/controller/customercontroller.js"></script>
</head>
<body ng-app="myapp">
    
    <div ng-controller="customercontroller" >
        <div class="nav" >
            <div class="search" ng-init="visible='true'" ng-hide="visible">
             <input  type="text" ng-model="searchtext"  > 
            </div>
           
            <button ng-click="visible=!visible"><img src="app/images/search.png"></button>
        </div>

        <table>
            <tr ng-repeat=" i in info |filter:searchtext">
                <td class="image"><img ng-src="app/images/{{i.images}}" width="70px"></td>
                <td>{{i.name}}</td>
            </tr>
        </table>
    </div>
    
</body>
</html>